.homepage__aboutMeHeader {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .homepage__aboutMeHeaderHighlight {
    color:#fb8500;
  }
  
  .homepage__aboutMeContent {
    line-height: 1.75;
  }